.navbar {
    height: 15%;
    width: 100%;
    background-color: white;
    padding: 20px;
}

ul {
    list-style: none;
    margin-left: 25%;
    margin-top: -5%;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #961e47;
    text-decoration: none;
    font-family: serif;
    font-size: 18px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(159, 152, 152);
    position: absolute;
    z-index: 999;
    display: none;

}

.drop:hover {
    background: #961e47;
}

.drop {
    color: black;
    display: block;
    width: auto;
    padding: 0.25rem 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

#drop {
    padding: 5px 10px;
}

ul li:hover ul.dropdown {
    display: block;

}